<div *ngIf="a" class="container">
    <p class="font-weight-bold text-center display-3 ">{{weatherOb[0].cityname}}, {{weatherOb[0].country}}</p>
    <p class=" text-center display-7 ">Pressure : {{weatherOb[0].pressure}} mb</p>
    <p class="text-center display-7 ">Humidity : {{weatherOb[0].humidity}}%</p>
    <p class="text-center display-7 ">Wind : {{weatherOb[0].wind}}mph SW</p>
  <div class="contanier">
      <div class="row">
            <div class="col-sm">
                <h4 style="color:aqua">Date</h4>
            </div>
            <div class="col-sm">
                <h4 style="color:aqua">Current temp</h4>
            </div>
            <div class="col-sm">
                <h4 style="color:aqua">Min temp</h4>
            </div>
            <div class="col-sm">
                <h4 style="color:aqua">Max temp</h4>
            </div>
            <div class="col-sm">
                <h4 style="color:aqua">Mausam</h4>
            </div>
            
          
          </div>
          <br>
      <div *ngFor = "let fw of weatherOb">
    <div class="row">
          <div class="col-sm">
              {{fw.date|date:'fullDate'}}
          </div>
          <div class="col-sm">
              {{(fw.temp-273).toPrecision(4)}}&deg;
          </div>
          <div class="col-sm">
              {{(fw.tempMin-273).toPrecision(4)}}&deg;
          </div>
          <div class="col-sm">
              {{(fw.tempMax-273).toPrecision(4)}}&deg;
          </div>
          <div class="col-sm">
              {{fw.weatherKind}}<img src="http://openweathermap.org/img/w/{{fw.icon}}.png">
          </div>
  
        </div>
    </div>
  </div>
  
  </div>